.rounded img {
  hegiht: 200px;
  width: 200px;
  border-radius: 100px;
}
header {
  background:blue;
  color:white;
  text-align: center;
  padding: 10px;
}
nav {
  line-height: 50px;
  backgrgound: #cccccc;
  height:600px;
  width:120px;
  float:left;
  padding5px;
}
section {
  width:330px;
  float:left;
  padding:15px;
}
footer {
  background:blue;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
}
a {
  color:#00ff00;
  text-decoration:none;
}
a:hover {
  color:#ff00ff;
}
